@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
    
@media (max-width: 768px) {
    #rockButton{
        padding: 2px 5px;
    }
    #scissorsButton{
        padding: 2px 5px;
    }
    #paperButton{
        padding: 2px 5px;
    }
    #restartButton{
        padding: 9px 25px;
        font-size: 15px;
    }
    #container{
        padding: 150px 100px;
    }
    #userResult{
        font-size: 20px;
    }
    #compResult{
        font-size: 20px;
    }
    #winResult{
        font-size: 20px;
    }
}

@media (max-width: 320px){
    .rockButton{
        padding: 1px 1px;
        display: none;
        border: 10px solid red;
    }
    #scissorsButton{
        padding: 1px 1px;
        display: none;
    }
    #paperButton{
        padding: 1px 1px;
        display: none;
    }
    #rockButtonText{
        display: flex;
        padding: 4px 1px;
        font-size: 4px;
    }
    #scissorsButtonText{
        display: flex;
        padding: 4px 1px;
        font-size: 4px;
    }
    #paperButtonText{
        display: flex;
        padding: 4px 1px;
        font-size: 4px;
    }
    #restartButton{
        padding: 2px 10px;
        font-size: 7px;
    }
    #container{
        padding: 100px 50px;
    }
    #userResult{
        font-size: 10px;
    }
    #compResult{
        font-size: 10px;
    }
    #winResult{
        font-size: 10px;
    }
}
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100dvh;
    background-color: #75A59F;
}


#mainScreen{
    display: none;
}

#startButton{
    display: flex;
} 

.startButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start{
    border: 1xp solid #465088;
    padding: 20px 40px;
    background-color: #465088;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Barlow Condensed', sans-serif;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #5E5669;
    padding: 250px 200px;
    border-radius: 5px;
}

.rockButton{
    border: 1xp solid #323548;
    padding: 20px 40px;
    background-color: #323548;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Barlow Condensed', sans-serif;
}

.scissorsButton{
    border: 1xp solid #323548;
    padding: 20px 40px;
    background-color: #323548;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Barlow Condensed', sans-serif;
}

.paperButton{
    border: 1xp solid #323548;
    padding: 20px 40px;
    background-color: #323548;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Barlow Condensed', sans-serif;
}

.rockButtonText{
    border: 1xp solid #323548;
    padding: 20px 40px;
    background-color: #323548;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Barlow Condensed', sans-serif;
    display: none;
}

.scissorsButtonText{
    border: 1xp solid #323548;
    padding: 20px 40px;
    background-color: #323548;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Barlow Condensed', sans-serif;
    display: none;
}

.paperButtonText{
    border: 1xp solid #323548;
    padding: 20px 40px;
    background-color: #323548;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Barlow Condensed', sans-serif;
    display: none;
}

.restart{
    border: 1xp solid #465088;
    padding: 20px 40px;
    background-color: #465088;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Barlow Condensed', sans-serif;
}

.win{
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
}
